import { Component, ChangeDetectionStrategy } from '@angular/core';
import { CommonModule } from '@angular/common';

@Component({
  selector: 'lib-<%= fileName %>',
  standalone: true,
  imports: [CommonModule],
  templateUrl: './<%= fileName %>.component.html',
  styleUrls: ['./<%= fileName %>.component.scss'],
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class <%= className %>Component {
  // Component implementation
} 